[Unit]
Description=Dansguardian whitelist configuration watcher

[Install]
WantedBy=multi-user.target

[Service]
Environment=MONGO_URL=localhost
ExecStart=/srv/dg-watch

